*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: blueviolet;
    font-size: 2rem;
    padding:20px 30px;
    color:white;
    font-weight:900;
}

.s1{
    display:flex;
       background: blueviolet;
    font-size: 2rem;
    padding:20px 30px;
    color:white;
    font-weight:900;
    align-items:center;

}
.s1>div{
    flex-basis:50%;
}